<h1><center><font size=10>Good Cardio Fitness Project</center></font></h1>

### **Context**
The data is about customers of the treadmill product(s) of a retail store called Cardio Good Fitness. A treadmill is a device generally used for walking, running, or climbing while staying in the same place. It can be purchased and placed at home or can be accessed in most GYMs. Today most advanced Treadmills offer very advanced subscription to their users in order to get them to purhcase, use the technology built around the device and explore.

### **Data Description:**
* Product - The model no. of the treadmill
* Age -  Age of the customer in no of years
* Gender - Gender of the customer
* Education - Education of the customer in no. of years
* Marital Status - Marital status of the customer
* Usage - Avg. # times the customer wants to use the treadmill every week
* Fitness - Self rated fitness score of the customer (5 - very fit, 1 - very unfit)
* Income - Income of the customer
* Miles- Miles that a customer expects to run

### **Importing the necessary packages**

In [5]:
# For reading and manipulating data
import pandas as pd
import numpy as np 
# Libraries used data visualization
import seaborn as sns 
import matplotlib.pyplot as plt

# Command to tell Python to actually display the graphs
%matplotlib inline

pd.set_option("display.float_format", lambda x: "%.2f" % x) #to display values upto 2 decimal places

### **Reading the DataSet**

In [8]:
df=pd.read_csv("https://raw.githubusercontent.com/miricoder/projects/main/datasets/CardioGoodFitness.csv")

### **Data Overview and Sanity Check**

#### **Displaying the first few rows of the dataset**

In [9]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

* The Dataset has been properly loaded
* Product Column displays the categories of different Treadmill brands
* Gender Column is categorized into Males and Females
* MaritalStatus Column is categorized into Singe and Partnered individuals

#### **Checking the shape of the dataset**

In [12]:
df.shape

(180, 9)

* There're 180 Rows and 9 columns in our DataSet

####**Checking the data types of the columns for the dataset**

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

* There're 3 Objects Data Types
* There're 6 Numerical Data Types