*******************************************************************************************************************
# TO DO List - Updated on Feb 3 7:36PM
 - In "Review and Structure Raw Data" Carry out below tasks
   * Decide which Column needs to be dropped - Done (S.No. will be dropped)
   * By First observation on the sample commen which values needs to be altered to different Data Types
   *******************************************************************************************

 # **Data PreProcessing**
  ____________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

<h3 style="color:Brown">Loading and Exploring Data</h3>

In [102]:
# this will help in making the Python code more structured automatically (good coding practice)
%load_ext nb_black
# To Suppress warning such as future warnings
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)
# For reading and manipulating data
import pandas as pd
import numpy as np

# Libraries used for data visualization
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()

# Command to tell Python to actually display the graphs
%matplotlib inline
# Remove the limit from the number of displayed columns and rows so i can see the entire df when printing
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

# Libraries used in Data Split (to test and train)
from sklearn.model_selection import train_test_split

# Libraries used for Linear Regression Model Building
from sklearn.linear_model import LinearRegression

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [103]:
# Importing data into data Variable which is our original Data
data = pd.read_csv(
    "https://raw.githubusercontent.com/miricoder/projects/main/Supervised_Learning_Regression/used_cars_data.csv"
)
# Creating Copy of The original Data
df = data.copy()

In [104]:
# Display column and row values using pyton 3's f-string
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Looking at the 10 random sample rows done using np.random
# Because looking at random values will give you better understaning than head or tail values
np.random.seed(1)
df.sample(10)

There are 7253 rows and 14 columns.

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2397,2397,Ford EcoSport 1.5 Petrol Trend,Kolkata,2016,21460,Petrol,Manual,First,17.0 kmpl,1497 CC,121.36 bhp,5.0,9.47,6.00
3777,3777,Maruti Wagon R VXI 1.2,Kochi,2015,49818,Petrol,Manual,First,21.5 kmpl,1197 CC,81.80 bhp,5.0,5.44,4.11
4425,4425,Ford Endeavour 4x2 XLT,Hyderabad,2007,130000,Diesel,Manual,First,13.1 kmpl,2499 CC,141 bhp,7.0,35.29,6.00
3661,3661,Mercedes-Benz E-Class E250 CDI Avantgrade,Coimbatore,2016,39753,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,86.97,35.28
4514,4514,Hyundai Xcent 1.2 Kappa AT SX Option,Kochi,2016,45560,Petrol,Automatic,First,16.9 kmpl,1197 CC,82 bhp,5.0,8.23,6.34
599,599,Toyota Innova Crysta 2.8 ZX AT,Coimbatore,2019,40674,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,7.0,28.05,24.82
186,186,Mercedes-Benz E-Class E250 CDI Avantgrade,Bangalore,2014,37382,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,86.97,32.00
305,305,Audi A6 2011-2015 2.0 TDI Premium Plus,Kochi,2014,61726,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,67.10,20.77
4582,4582,Hyundai i20 1.2 Magna,Kolkata,2011,36000,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,10.25,2.50
5434,5434,Honda WR-V Edge Edition i-VTEC S,Kochi,2019,13913,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,9.36,8.20

- After carefully analyzing, column name: `S.No.` is the only column that needs to be dropped reason being:
  * Pandas already provides column id which matches that of S.No and renders S.No's usage pointless 
- `Mileage,Engine,Power` columns needs to be turned into numerics
- Year columns seems ok so far
- Categorical Values like below needs to be applied one-hot encoding closer to the end of our analysis right before model building 
     `Fuel_Type,Transmission,Owner_Type`

**Dropping the S.No Column**

In [105]:
df.drop(["S.No."], axis=1, inplace=True)
# Validating that S.No. column is removed by checking  df.columns
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7078 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          7253 non-null   float64
 12  Price              6019 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 736.8+ KB

- Name column is the first and S.No. column is now gone, our data is down total of 13 columns

**See which columns has the most missing values**

In [107]:
df.isnull().sum().sort_values(ascending=False)

Price                1234
Power                 175
Seats                  53
Engine                 46
Mileage                 2
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
New_Price               0
dtype: int64

- `Price` column has the most values in it and since Price and its a problem since this is the column we are trying to predict
- `Power, Seats, Engine` also has missing values needs to be looked at
- `Mileage` has the least missing values, still needs to be looked at and treated

<h3 style="color:Brown">Processing Data - Before Performing Statisical Analysis</h3>

**Converting `Mileage` column to numeric**

In [108]:
# This loop prints the name of columns where there is km/kg & kmpl
# by checkin
# Turn below into a function with below logic:
# If df[colname].str.endswith(mileage_endings).any() then this will go in mileage_to_num
# If df[colname].str.endswith(engine_endings).any() then this will go in engine_to_num
# If df[colname].str.endswith(power_endings).any() then this will go in power_to_num
mileage_endings = ("km/kg", "kmpl")  # Milage
mileage_cols = []
for colname in df.columns[
    df.dtypes == "object"
]:  # only need to consider string columns
    if (
        df[colname].str.endswith(mileage_endings).any()
    ):  # using `.str` so I can use an element-wise string method
        mileage_cols.append(colname)
print(mileage_cols)

['Mileage']

In [109]:
def mileage_to_num(mileage_val):
    """
    This function takes in a string representing in Mileage in km/kg & kmpl
    and converts it to a number. For Example, 26.6 km/kg to 26.6
    or 19.67 kmpl to 19.67
    """
    if isinstance(mileage_val, str):  # checks if `mileage_val` is a string
        return float(mileage_val.replace("km/kg", "").replace("kmpl", ""))
    else:
        return np.nan


for colname in mileage_cols:
    df[colname] = df[colname].apply(mileage_to_num)
df[mileage_cols].head()

   Mileage
0    26.60
1    19.67
2    18.20
3    20.77
4    15.20

 # **Sanity Check**
 _______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

# **EDA - Exploratory Data Analysis on PreProcessed Data**
_______________________________________________________
1) Independent Variable must always be Normally distributed in order to generalize effectively and not be biased 
   - If not normally distirbuted we need to perform transformation on data

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

### <a id='link1'>Summary of EDA</a>

# **Build a linear regression model to predict the prices of used cars**
_______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

### <a id='link1'>Conclusions</a>

# **Insights and Recommendations that will help the business**
_______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`