*******************************************************************************************************************
# TO DO List - Updated on Feb 3 7:36PM
 - In "Review and Structure Raw Data" Carry out below tasks
   * Decide which Column needs to be dropped - Done (S.No. will be dropped)
   * By First observation on the sample commen which values needs to be altered to different Data Types
   *******************************************************************************************

**Importing necessary libraries**

In [16]:
# To Suppress warning such as future warnings
import warnings 
warnings.simplefilter(action="ignore", category=FutureWarning)
# For reading and manipulating data 
import pandas as pd
import numpy as np
# Libraries used for data visualization 
import seaborn as sns
import matplotlib.pyplot as plt
# Command to tell Python to actually display the graphs 
%matplotlib inline
# Remove the limit from the number of displayed columns and rows so i can see the entire df when printing
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

#Libraries used in Data Split (to test and train)
from sklearn.model_selection import train_test_split
#Libraries used for Linear Regression Model Building
from sklearn.linear_model import LinearRegression

**Importing Data from GitHub & Making Original Data is safe and only copy is used**

In [17]:
#Importing data into data Variable which is our original Data
data = pd.read_csv("https://raw.githubusercontent.com/miricoder/projects/main/Supervised_Learning_Regression/used_cars_data.csv")
# Creating Copy of that data
df = data.copy()

 # **Review and Structure Raw Data**
  ____________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

In [18]:
# Display column and row values using pyton 3's f-string
print(f'There are {df.shape[0]} rows and {df.shape[1]} columns.') 

#Looking at the 10 random sample rows done using np.random
# Because looking at random values will give you better understaning than head or tail values
np.random.seed(1)
df.sample(10)

There are 7253 rows and 14 columns.

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2397,2397,Ford EcoSport 1.5 Petrol Trend,Kolkata,2016,21460,Petrol,Manual,First,17.0 kmpl,1497 CC,121.36 bhp,5.0,9.47,6.00
3777,3777,Maruti Wagon R VXI 1.2,Kochi,2015,49818,Petrol,Manual,First,21.5 kmpl,1197 CC,81.80 bhp,5.0,5.44,4.11
4425,4425,Ford Endeavour 4x2 XLT,Hyderabad,2007,130000,Diesel,Manual,First,13.1 kmpl,2499 CC,141 bhp,7.0,35.29,6.00
3661,3661,Mercedes-Benz E-Class E250 CDI Avantgrade,Coimbatore,2016,39753,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,86.97,35.28
4514,4514,Hyundai Xcent 1.2 Kappa AT SX Option,Kochi,2016,45560,Petrol,Automatic,First,16.9 kmpl,1197 CC,82 bhp,5.0,8.23,6.34
599,599,Toyota Innova Crysta 2.8 ZX AT,Coimbatore,2019,40674,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,7.0,28.05,24.82
186,186,Mercedes-Benz E-Class E250 CDI Avantgrade,Bangalore,2014,37382,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,86.97,32.00
305,305,Audi A6 2011-2015 2.0 TDI Premium Plus,Kochi,2014,61726,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,67.10,20.77
4582,4582,Hyundai i20 1.2 Magna,Kolkata,2011,36000,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,10.25,2.50
5434,5434,Honda WR-V Edge Edition i-VTEC S,Kochi,2019,13913,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,9.36,8.20

- After carefully analyzing, column name: `S.No.` is the only column that needs to be dropped reason being:
  * Pandas already provides column id which matches that of S.No and renders S.No's usage pointless

In [19]:
# Dropping the S.No Column
df.drop(["S.No."], axis=1, inplace=True)
# Validating that S.No. column is removed by checking  df.columns
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

- Name column is the first and S.No. column is now gone

 # **PreProcessing Structured Data**
 _______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

# **EDA - Exploratory Data Analysis on PreProcessed Data**
_______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

# **Build a linear regression model to predict the prices of used cars**
_______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`

# **Insights and Recommendations that will help the business**
_______________________________________________________

`@author mirali - Created on Friday Feb 3 - Start your work from the next line`